<nav class="container">
    <img src="" alt="logo">
    <ul>
        <li><a routerLink="/" routerLinkActive="active">Home</a></li>
        <li><a routerLink="/product-list" routerLinkActive="active">Cities</a></li>
        <li><a routerLink="/login" routerLinkActive="active">Login</a></li>
        <li><a routerLink="/logout" routerLinkActive="active">Logout</a></li>
        <!-- <li *ngIf="!authService.isAuthenticated()"><a routerLink="/login">Sign In</a></li>
        <li *ngIf="authService.isAuthenticated()"><a routerLink="/logout">Sign out</a></li> -->
    </ul>
</nav>