body {
        background: linear-gradient(to top left, #04040C, #002a53);
        /* background-color: #04040C; */
        /* background-color: #8a8aa0; */
        color: #F2F2F2;
        margin: 0;
}
nav img, footer img { 
        height: 50px;
}