body {
        background: linear-gradient(to top left, #04040C, #002a53);
        color: #F2F2F2;
        margin: 0;
}
.logoimage {
        filter: grayscale(50%);
        filter: brightness(0) invert(1); 
        height: 40px;   
}