<!-- <div *ngFor="let city of cities">
    <h2>{{ city.cityName }}</h2>
    <p>Postal Code: {{ city.postalCode }}</p>
</div> -->

<h2>Add a New City</h2>
<form [formGroup]="cityForm" (ngSubmit)="onSubmit()">
    <label>City Name: <input formControlName="cityName"></label><br>
    <label>Postal Code: <input formControlName="postalCode"></label><br>
    <button type="submit">Add City</button>
</form>

<div *ngFor="let city of cities">
    <h2>{{ city.cityName }}</h2>
    <p>Postal Code: {{ city.postalCode }}</p>
</div>