<h1 class="page-title">Add a New City</h1>
<form class="registration-form" [formGroup]="cityForm" (ngSubmit)="onSubmit()">
    <label class="form-label">City Name: <input class="form-input" formControlName="cityName"></label><br>
    <label class="form-label">Postal Code: <input class="form-input" formControlName="postalCode"></label><br>
    <button class="form-button" type="submit">Add City</button>
</form>

<div *ngFor="let city of cities" class="cities">
    <ul>
        <li>
            <p>City Name: {{ city.cityName }}</p>
            <p>Postal Code: {{ city.postalCode }}</p>
        </li>
    </ul>
</div>
